<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or site.name }}</title>
    
    <link rel="stylesheet" href="/src/output.css"> 
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    
    <link rel="icon" href="/src/logo.webp" type="image/webp">
    
    <meta name="description" content="{{ description or site.description }}">
</head>
<body class="bg-parchment min-h-screen flex flex-col font-roboto text-charcoal">
    
    {% include "header.html" %}
    
    <div class="flex-grow">
        {{ content | safe }}
    </div>
    
    {% include "footer.html" %}
    
    <script type="module" src="/src/firebase-loader.js"></script> 
    <script type="module" src="/src/cart.js"></script>
    <script type="module" src="/src/main.js"></script> 
    
    </body>
</html>